<a href="https://colab.research.google.com/github/siddheshdosi/Name_Entity_Recognization/blob/main/Name_Entity_Recognization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import spacy

In [4]:
nlp = spacy.load('en_core_web_sm')
nlp.pipe_names

['tagger', 'parser', 'ner']

In [7]:
doc = nlp('India is the second largest population country after China')
for ent in doc.ents:
  print(ent.text,ent.start_char,ent.end_char,ent.label_)

India 0 5 GPE
second 13 19 ORDINAL
China 53 58 GPE

In [8]:
doc = nlp('I am Siddhesh Dosi and curently I am working in Ascena Retail Group as data scientist')
for ent in doc.ents:
  print(ent.text,ent.start_char,ent.end_char,ent.label_)

Siddhesh Dosi 5 18 PERSON
Ascena Retail Group 48 67 ORG